@model DepartmentWithEmpViewModel


<h3 class="text-center mt-4 main-title position-relative">New Department</h3>

<form class="mt-5" asp-action="SaveAdd" method="post">
    <div class="form-group">
        <label for="Name" class="form-label">Name</label>
        <input class="form-control" value="@Model?.Name" name="Name" type="text" id="Name" />
        <span class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="address" class="form-label">Manager</label>
        <select class="form-control" name="ManagerId">
            @foreach (var emp in Model.Managers)
            {

                @if (Model.ManagerId == emp.Id)
                {
                    <option value="@emp.Id" selected>@emp.FirstName @emp.LastName</option>
                }
                else
                {
                    <option value="@emp.Id">@emp.FirstName @emp.LastName</option>
                }

            }
        </select>
        <span class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4">Add</button>
</form>
<a asp-action="GetAll" class="btn btn-primary mt-4">Back To List</a>